<div class="continer">
    <img src="assets/images/cutlery/amountLogo.jpg" alt="amountLogo" [routerLink]="['/products']" [queryParams]="{ categoryId: '11' }">
    <img src="assets/images/cups/cups&juksLogo.jpg" alt="cups&juksLogo" [routerLink]="['/products']" [queryParams]="{ categoryId: '14' }">
    <img src="assets/images/drinkware/dishesLogo.jpg" alt="dishesLogo" [routerLink]="['/products']" [queryParams]="{ categoryId: '13' }">
    <img src="assets/images/plates/plates.jpg" alt="platesLogo" [routerLink]="['/products']" [queryParams]="{ categoryId: '12' }">
    <img src="assets/images/tablecloths/tableLogo.jpg" alt="suggestLogo" [routerLink]="['/products']" [queryParams]="{ categoryId: '10' }">
</div>


