.continer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.pImg{
    //height: 38vh;
    //width: auto;
    border: 1px solid black;
}