    <div class="home">
    <img class="pots" src="../../../assets/images/media_03122023125645.jpg" alt="shop now">
    <div class="allCategories">
        <a [routerLink]="['/cook']" class="sqrt"><img src="../../../assets/images/Page_Header_3327.jpg" alt="packets"></a>
        <a [routerLink]="['/cook']" class="sqrt"><img src="../../../assets/images/Page_Header_3313.jpg" alt="cooking"></a>
        <a [routerLink]="['/products']" [queryParams]="{ categoryId: '3' }" class="sqrt"><img src="../../../assets/images/Page_Header_3317.jpg" alt="baking"></a>
        <a [routerLink]="['/products']" class="sqrt"><img src="../../../assets/images/Page_Header_3314.jpg" alt="kitchen"></a>
        <a [routerLink]="['/hosting-and-srving']" class="sqrt"><img src="../../../assets/images/Page_Header_3316.jpg" alt="dinner ware"></a>
        <a [routerLink]="['/organization']"class="sqrt"><img src="../../../assets/images/Page_Header_3315.jpg" alt="storage"></a>
        <a [routerLink]="['/products']" [queryParams]="{ categoryId: '9' }" class="sqrt"><img src="../../../assets/images/Page_Header_3324.jpg" alt="knives"></a>
        <a [routerLink]="['/products']" [queryParams]="{ categoryId: '9' }" class="sqrt"><img src="../../../assets/images/Page_Header_3330.jpg" alt=""></a>
        <a [routerLink]="['/products']" [queryParams]="{ categoryId: '4' }" class="sqrt"><img src="../../../assets/images/Page_Header_3329.jpg" alt="electric"></a>
        <a [routerLink]="['/products']" [queryParams]="{ categoryId: '12' }" class="sqrt"><img src="../../../assets/images/Page_Header_3588.jpg" alt="dishes"></a>
        <a [routerLink]="['/products']" [queryParams]="{ categoryId: '5' }" class="sqrt"><img src="../../../assets/images/Page_Header_3511.jpg" alt="garbige"></a>
        <a [routerLink]="['/products']" [queryParams]="{ categoryId: '10' }" class="sqrt"><img src="../../../assets/images/Page_Header_3513.jpg" alt="textil"></a>
    </div>
    <div class="two">
        <a [routerLink]="['/gifts']"><img src="../../../assets/images/Page_Header_1993.jpg" alt=""></a>
        <a [routerLink]="['/branches']"><img src="../../../assets/images/Page_Header_1991.jpg" alt=""></a>
    </div>
</div>