<div class="continer">
    <p-card class="register-card">
        <ng-template #title>
            <div class="title">Register</div>
        </ng-template>

        <form (ngSubmit)="register()" class="fields">
            <label for="firstName">First Name</label>
            <input pInputText type="text" id="firstName" [(ngModel)]="firstName" name="firstName"
                placeholder="Enter your first name" required />

            <label for="lastName">Last Name</label>
            <input pInputText type="text" id="lastName" [(ngModel)]="lastName" name="lastName"
                placeholder="Enter your last name" required />

            <label for="email">Email</label>
            <input pInputText type="email" id="email" [(ngModel)]="email" name="email"
                placeholder="Enter your email" required />

            <label for="password">Password</label>
            <input pInputText type="password" id="password" [(ngModel)]="password" name="password"
                placeholder="Enter your password" required />
            <div class="actions">
                <button pButton type="submit" label="Register" class="p-button-success"></button>
                <a routerLink="/">
                    <button pButton type="button" label="Back to Home" class="p-button-secondary"></button>
                </a>
                <a routerLink="/auth">
                    <button pButton type="button" label="בחזרה למסך המשתמש" class="p-button-secondary"></button>
                </a>
            </div>
        </form>
    </p-card>
</div>
